# Logs
dijkstra_front/logs
dijkstra_front/*.log
dijkstra_front/npm-debug.log*
dijkstra_front/yarn-debug.log*
dijkstra_front/yarn-error.log*
dijkstra_front/pnpm-debug.log*
dijkstra_front/lerna-debug.log*

dijkstra_front/node_modules
dijkstra_front/dist
dijkstra_front/dist-ssr
dijkstra_front/*.local

# Editor directories and files
dijkstra_front/.vscode/*
dijkstra_front/!.vscode/extensions.json
dijkstra_front/.idea
dijkstra_front/.DS_Store
dijkstra_front/*.suo
dijkstra_front/*.ntvs*
dijkstra_front/*.njsproj
dijkstra_front/*.sln
dijkstra_front/*.sw?
node_modules
